# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* list popular languages and libraries in Data Science
* list popular Data Science tools
* run a simple arythmetic expression
* run simple code

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. NumPy

| Data Science Tools |
| -------------| 
| TensorFlow   | 
| Apache Spark | 
| Jupyter Notebook | 
| Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
hours = 200/60
print('200 minutes its ', hours, 'hours')

200 minutes its  3.3333333333333335 hours

## Author
Izabela